server:
  port: 10086
spring:
  application:
    name: eureka-server
eureka:
  client:
    service-url:
      #eureka的服务地址。如果是集群的话，需要注册到其他eureka服务上
      defaultZone: http://127.0.0.1:10086/eureka
      #不注册自己
    register-with-eureka: false
    #不拉去服务
    fetch-registry: false
