spring:
  application:
    name: eureka-client
server:
  port: 8080

#eureka注册中心的地址
eureka:
  client:
    service-url:
      defaultZone: http://localhost:10086/eureka
  instance: #通过此配置来提供自己的ip和端口
    prefer-ip-address: true	 #显示ip
    instance-id: ${spring.cloud.client.ip-address}:${server.port} #从spring获取ip
